services:
  stt-whisper-service:
    image: ghcr.io/sentiric/sentiric-stt-whisper-service:latest-gpu
    
    # GPU Build Tanımı
    build:
      context: .
      dockerfile: Dockerfile.gpu
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    environment:
      - STT_WHISPER_SERVICE_DEVICE=cuda
      - STT_WHISPER_SERVICE_COMPUTE_TYPE=float16