services:
  stt-whisper-service:
    # Production İmajı
    image: ghcr.io/sentiric/sentiric-stt-whisper-service:latest-gpu
    
    # Local Build (İmaj yoksa veya dev modunda buradan derler)
    build:
      context: .
      dockerfile: Dockerfile.gpu
    
    # GPU Kaynakları
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    # GPU Ortam Değişkenleri (Override)
    environment:
      - STT_WHISPER_SERVICE_DEVICE=cuda
      - STT_WHISPER_SERVICE_COMPUTE_TYPE=float16